<table class="rssfeed table table-striped">
    <!-- BEGIN feeds -->
    <tr>
        <td>
            <h5><a href="{feeds.link}" target="_blank">{feeds.title}</a><br /><small>{feeds.pubDate}</small></h5>
        </td>
    </tr>
    <!-- END feeds -->
</table>