<label>[[parserss:adminAddress]]:</label>
<input type="text" class="form-control" name="address" />
<label>[[parserss:adminCountfeed]]:</label>
<input type="text" class="form-control" name="countfeed" placeholder="5" />
<label>[[parserss:adminDateformatstring]]:</label>
<input type="text" class="form-control" name="dateformatstring" placeholder="ddd, dd mmm yyyy HH:MM" />