.rssfeed {
	
	table-layout: fixed;
	margin-bottom: 0 !important;

	td {
		white-space: nowrap;

		h5 {
			overflow: hidden;
			text-overflow: ellipsis;
			margin-top: 3px;
			margin-bottom: 3px;
		}
	}
}